@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model RepledgeMasterViewModel
@{
    ViewData["Title"] = "Repledge";
}

<h4>Repledge Items</h4>
<br />
<form asp-action="Update" asp-controller="Repledge" method="post" id="repledgeForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="modal-body">
                <div class="form-group" id="articleList">
                    @{
                        var vd = new ViewDataDictionary(ViewData);
                        vd.TemplateInfo.HtmlFieldPrefix = "RepledgeViewModels";
                    }
                    @await Html.PartialAsync("_ArticleList", Model.RepledgeViewModels, vd)
                </div>
                <div id="formMessage" class="text-danger"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="RepledgeMaster.RepledgeId" />
            <div class="form-group">
                <label asp-for="RepledgeMaster.Bank.Name" class="control-label"></label>
                <select asp-for="RepledgeMaster.BankId" class="form-control" asp-items="@Model.Banks">
                    <option disabled selected>--Select Bank--</option>
                </select>
                <span asp-validation-for="RepledgeMaster.BankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepledgeMaster.LoanAmountFromBank" class="control-labal"></label>
                <input asp-for="RepledgeMaster.LoanAmountFromBank" class="form-control" />
                <span asp-validation-for="RepledgeMaster.LoanAmountFromBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepledgeMaster.DatePledged" class="control-labal"></label>
                <input asp-for="RepledgeMaster.DatePledged" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="ListRepledgedItems" asp-controller="Repledge" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('repledgeForm').addEventListener('submit', function (e) {
      const anyChecked = document.querySelector(
        '#articleList input[type="checkbox"][name^="RepledgeViewModels"][name$=".Selected"]:checked'
      );
      const messageDiv = document.getElementById("formMessage");
      if (!anyChecked) {
        e.preventDefault();
        messageDiv.innerText="Please add at least one item before submitting the form.";
        return;
      }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}